<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lymno.cmoney" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.activeandroid.app.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <!-- ActiveAndroid -->
        <meta-data
            android:name="AA_DB_NAME"
            android:value="example.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="2" />
        <meta-data
            android:name="AA_MODELS"
            android:value="com.lymno.cmoney.model.Wallet, com.lymno.cmoney.model.WalletOperation" />
        <!-- ActiveAndroid -->
        <activity
            android:name=".activity.MainActivity"
            android:label="Кошельки"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".activity.WalletView"
            android:label="Кошелек"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".activity.LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AddWallet"
            android:label="Добавить кошелек"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lymno.cmoney.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.WalletInfo"
            android:label="Информация"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lymno.cmoney.activity.MainActivity" />
        </activity>
    </application>

</manifest>
